<?xml version="1.0" encoding="UTF-8"?>
<psalm
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="https://getpsalm.org/schema/config"
  xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
  cacheDirectory="./build/psalm/"
  errorBaseline="psalm-baseline.xml"
  errorLevel="4"
  findUnusedBaselineEntry="true"
  findUnusedCode="false"
  findUnusedVariablesAndParams="true"
>
  <projectFiles>
    <!--<directory name="config"/>
    <directory name="routes"/>-->
    <directory name="src"/>
    <ignoreFiles allowMissingFiles="true">
      <directory name="vendor"/>
      <file name="src/UpdateHelper.php"/>
    </ignoreFiles>
  </projectFiles>

  <issueHandlers>
    <PropertyNotSetInConstructor errorLevel="info"/>
    <UndefinedClass>
      <errorLevel type="suppress">
        <file name="src/Support/EnvironmentChecker.php"/>
      </errorLevel>
    </UndefinedClass>
    <!--<UnusedClass>
      <errorLevel type="suppress">
        <directory name="src/Outputs"/>
      </errorLevel>
    </UnusedClass>
    <PossiblyUnusedMethod>
      <errorLevel type="suppress">
        <directory name="src/Macros"/>
        <directory name="src/Outputs"/>
        <file name="src/Http/Middleware/OutputSoarScoresMiddleware.php"/>
      </errorLevel>
    </PossiblyUnusedMethod>-->
  </issueHandlers>

  <plugins>
    <!--<pluginClass class="Psalm\LaravelPlugin\Plugin"/>-->
  </plugins>
</psalm>
