# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Dead catch \- Error is never thrown in the try block\.$#'
            count: 1
            path: ../src/Support/EnvironmentChecker.php
