# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Unused Guanguans\\MonorepoBuilderWorker\\Concern\\ConcreteFactory\:\:createExecutableFinder$#'
            count: 1
            path: ../src/Concern/ConcreteFactory.php
